{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login | Paws and Claws</title>
    <link rel="stylesheet" href="{% static 'login_style.css' %}">
</head>
<body>

<div class="login-wrapper">
    <div class="container">
        <h2>Welcome Back 🐾</h2>

        <form method="post">
            {% csrf_token %}

            <label>Username</label>
            <input type="text" name="username" placeholder="Enter your username" required>

            <label>Password</label>
            <input type="password" name="password" placeholder="Enter your password" required>

            <button type="submit">Login</button>
        </form>

        <p class="signup-text">
            New user? <a href="{% url 'signup' %}">Register here</a>
        </p>
    </div>
</div>

</body>
</html>

