{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Services | Paws & Claws</title>
  <link rel="stylesheet" href="{% static 'services/services_style.css' %}"/>
</head>
<body>

 <div class="top-bar">

  {% if user.is_staff %}
    <!-- Admin -->
    <a href="{% url 'admin_all_bookings' %}" class="my-bookings-btn">
      View All Bookings
    </a>
  {% else %}
    <!-- Normal User -->
    <a href="{% url 'my_bookings' %}" class="my-bookings-btn">
      My Bookings
    </a>
  {% endif %}

</div>


<!-- PAGE HEADER -->
<section class="page-header">
  <h1>Our Services</h1>
  <p>Professional pet care services to keep your furry friends happy and healthy</p>
</section>

<main class="container">

  <div class="services-grid">
      <a href="{% url 'dog_grooming' %}" class="service-link">
        🐶
        <h3>Dog Grooming</h3>
        <p>Professional grooming packages for dogs</p>
      </a>

      <a href="{% url 'cat_grooming' %}" class="service-link">
        🐱
        <h3>Cat Grooming</h3>
        <p>Gentle grooming services for cats</p>
      </a>

      <a href="{% url 'pet_boarding' %}" class="service-link">
        🏠
        <h3>Pet Boarding</h3>
        <p>Safe and comfortable boarding for your pets</p>
      </a>
  </div>

 

</main>




</body>
</html>
